node_modules
.next
.git
.env
.env.*
!.env.example
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage
.vscode
.idea
*.md
!README.md
e2e
playwright.config.ts
test-results
playwright-report
.playwright
